.profile-onboarding-progress-10 {
  width: 10%;
}

.profile-onboarding-progress-20 {
  width: 20%;
}

.profile-onboarding-progress-30 {
  width: 30%;
}

.profile-onboarding-progress-40 {
  width: 40%;
}

.profile-onboarding-progress-50 {
  width: 50%;
}

.profile-onboarding-progress-60 {
  width: 60%;
}

.profile-onboarding-progress-70 {
  width: 70%;
}

.profile-onboarding-progress-80 {
  width: 80%;
}

.profile-onboarding-progress-90 {
  width: 90%;
}

.profile-onboarding-progress-100 {
  width: 100%;
}
